/* Stillmallen gäller hela appen */

:root {
  --primary: #3751A0;
  --primary-variant: #283976;
  --secondary: #fff9ac;
  --secondary-variant: #C2D0FF;
  --on-surface: #292929;
  --on-background: #595959;
  --surface: #e0e0e0;
  --on-primary: white;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: var(--on-surface);
}

body {
  width: 100vw;
}

/** Komponent-taggarna måste stiliseras för att inställningarna 
** i deras barnelement ska ta full effekt 
**/
body,
app-root, 
app-fharen-form,
app-feet-form, 
app-picture,
app-convert,
app-about,
main,
.card,
.converter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** Stilmallen för huvudinnehållet **/
main {
  max-width: 600px;
  padding: 0 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}


/** Stilmallen för sektionerna **/
.card {
  padding: 1rem;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: 0 10px 0 10px;
}


/** Stilmalen för konverteringsformuläret **/
.converter {
  gap: 0.3rem;
}

.converter label {
  font-weight: 600;
}

.converter input {
  width: 280px;
  height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: var(--primary-variant);
  border: 2px solid var(--on-surface);
}

/** Stilmallen för rubriker **/
h1 {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  color: var(--on-background);
}

h2 {
  color: var(--primary-variant);
}
